

.username-box, .password-box{
  background-color: grey;
}

#username, #password {
  background-color: grey;
}

::placeholder {
  color: white;
}

.remember-box, label {
  background-color: #403e3e;
}

