<div class="d-flex flex-column vh-100 justify-content-center container">
  <div class="row">
    <div class="col-12">
      <p class="title display-4 text-danger">Track It</p>
    </div>
    <div class="col-12">
      <p class="under-title lead">Track your income and your expenses</p>
    </div>
  </div>
  <div class="row">
    <div class="box-button col-12 col-md-6">
      <button class="btn btn-primary custom-btn" (click)="onClickLogIn()">Log In</button>
    </div>
    <div class="box-button col-12 col-md-6">
      <button class="btn btn-primary custom-btn" (click)="onClickSignUp()">Sign Up</button>
    </div>
  </div>

</div>

